@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #252525;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

@layer base {
	.dir-rtl {
		direction: rtl;
	}

	@font-face {
		font-family: 'shabnam';
		src: url('../Fonts/Shabnam-FD.woff2');
	}
}

@layer components {
	.navbar {
		@apply w-full h-[80px] bg-secondary dir-rtl bg-opacity-60 px-16 backdrop-blur-[8px] md:px-2.5;
	}

	.scrollBTN {
		@apply absolute z-20 w-14 h-14 bg-[#EFEFEF] rounded-full shadow-black shadow-xl flex justify-center items-center text-2xl md:hidden;
	}

	.form-input {
		@apply dir-rtl font-shabnam outline-none border-none w-full h-10 rounded-md hover:bottom-4 text-sm text-white bg-[#252525] pr-7 placeholder:text-sm;
	}

	.notification {
		@apply invisible w-64 min-h-min transition-all duration-300 opacity-0 font-shabnam fixed gap-3 dir-rtl top-24 text-white bg-primaryBTN left-20 lg:left-14 rounded-lg p-3 flex;
	}

	.notification--show {
		@apply visible opacity-100;
	}

	.notification--error {
		@apply text-red text-4xl h-full;
	}

	.notification--success {
		@apply text-hoverConfirmBTN text-4xl h-full;
	}

	.dashboard-container {
		@apply w-full bg-secondary rounded-dashboardcontainer p-2.5;
	}

	.dashboard-item {
		@apply w-full h-14 rounded-dashboarditem flex items-center px-2 shadow-xl;
	}

	.cart-button {
		@apply h-[40px] text-2xl border-2 rounded-lg md:text-xl md:rounded-md;
	}
}

@layer utilities {
	.dir-ltr {
		direction: ltr;
	}

	.dir-rtl {
		direction: rtl;
	}

	.cp {
		cursor: pointer;
	}

	.t-shadow {
		text-shadow: 0px 2px 4px #777;
	}

	.hide {
		@apply opacity-0 invisible;
	}

	.show {
		@apply opacity-100 visible;
	}

	/* hide scrollbar in chrome */
	.no-scroll::-webkit-scrollbar {
		display: none;
	}

	/* hide scrollbar in firefox && edge */
	.no-scroll {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scroll::-webkit-scrollbar {
		@apply w-2.5 md:w-0;
	}

	.scroll::-webkit-scrollbar-thumb {
		@apply bg-[#888] rounded-[20px];
	}

	.box {
		@apply rounded-full overflow-hidden w-20 h-20 relative;
	}

	.item {
		@apply bg-[#25252590] w-full h-full flex flex-col justify-center items-center absolute z-50 top-28 transition-all duration-300 cursor-pointer;
	}

	.box:hover .item {
		@apply top-0;
	}
}

/* Remove spinner keys in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* remove spinner buttons in Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
